@media screen and (max-width: 1400px) {
    #sec1 {
      height: 65vh;
      margin-bottom: 6rem;
    }
    #sec2{
        height:100vh
    }
    #sec3{
        height:100vh
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #sec4 {
      height: fit-content;
    }
    .blob,.blob2,.blob3{
        display: none;
    }
    .firstsection{
     flex-direction: column;   
     margin: 4.5rem 0;
     width: 100vw;
     padding-top: 0vh;
     flex-wrap: wrap;
     justify-content: start;
     
    }
    .leftsection{
        width: 100%;
        margin: 0;
        text-align: center;

    }
    .btncontainer{
        justify-content: space-evenly;
    }
    .hamburger-menu{
        margin-right: 1rem;
    }
    .logo{
        margin-left: 1rem;
    }
    .secondsection{
        margin: 0 2rem;

    }
    .about_containers{
        gap: 1rem;
    }
    .details-container{
        min-width: 0;
    }
    .details-container h3{
        font-size: smaller;
    }
    .details-container p{
        font-size: smaller;
    }
    .text-container p{
        font-size: 1rem;
    }
    .about_details-container{
        gap: 0rem;
    }


  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
      width: 100%;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow, .arrow_sec1 {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {

    .bgimage {
      width: 500px;
      height: 500px;
    }

    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
  }
  