@media screen and (max-width: 1400px) {
    #sec1 {
      height: 75vh;
      margin-bottom: 6rem;
    }
    #sec2{
        height:100vh;
        width: 100vw;
    }
    #sec3{
        height:100vh;
    }
    .arrow_sec2 {

      right: 5rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #sec4 {
      height: 97vh;
    }
    .thirdsection{
      margin: 0 5rem;
    }

    .leftsection{
        width: 100%;
        margin: 0;
        text-align: center;

    }
    .btncontainer{
        justify-content: space-evenly;
    }
    .hamburger-menu{
        margin-right: 1rem;
    }
    .logo{
        margin-left: 1rem;
    }
    .secondsection{
        margin: 0 2rem;

    }
    .about_containers{
        gap: 1rem;
    }

    .details-container h3{
        font-size: smaller;
    }
    .details-container p{
        font-size: smaller;
    }
    .text-container p{
        font-size: 1rem;
    }
    .about_details-container{
        gap: 0rem;
    }


  }
  
  @media screen and (max-width: 1024px) {
    .secondsection{
      margin: 0;
    }
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
      width: 100%;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow, .arrow_sec1 {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }

    .blob{
      top: 19%;
      left: 48%;
    }
    .firstsection{
      margin: 0 2rem;
    }
    .rightsection img{
      height: 69vh;
      width: 45vw;
      margin: 0 1vw 0 0;
    }
    .thirdsection{
      margin: 0;
    }
    .experience-sub-title{
      margin-bottom: 1rem;
    }
    .details-container-skills{
      max-height: none;
      margin: 1rem 3rem;
    }
    .article-container{
      gap: 0;
      justify-content: center;
      align-items: center;
    }
    .article-container img{
      height: 2rem;
    }
    .article-container p{
      font-size: 0.8rem;
    }
    .article-container h3{
      font-size: 0.9rem;
    }
    .article-container-2{
      gap: 0;
      justify-content: center;
      align-items: center;
    }
    .article-container-2 img{
      height: 2rem;
    }
    .article-container-2 p{
      font-size: 0.8rem;
    }
    .article-container-2 h3{
      font-size: 0.9rem;
    }
  }
  
@media screen and (max-width: 768px) {

  .arrow,.arrow_sec1,.arrow_sec2{
    display: none;
  }
  #sec1{
    margin-top: 4.5rem;
  }
  .firstsection{
    flex-direction: column;   
    margin: 4.5rem 0;
    width: 100vw;
    padding-top: 0vh;
    flex-wrap: wrap;
    justify-content: start;
    
   }
  .rightsection img{
    height: 100%;
    width: 100%;
    margin: 0;
    
  }
  .thirdsection{
    margin:0;
  }
  .details-container-skills{
    margin:3% 1% 5% 1%;
    min-width: 0;
    width: 90vw;
    max-height:none;
    padding: 0%;
  }
  .details-container{
    min-width: 0;
    margin: 0 3%;
    width: 84vw;
  }
  .contact-info-upper-container{
    max-width: 97vw;
  }
  .about-containers{
    align-items: center;
  }
  .about_containers{
    flex-direction: column;

  }
  .article-container-2{
    padding: 4%;
  }
  .article-container{
    margin: 0;
    gap: 0.7rem;
  }
  article{
    gap: 0.1rem;
    width: 7rem;
  }
  article h3, article p{
    font-size: 0.7rem;
  }
  article .icon{
    width: 1.5rem;
    height: 1.5rem;
  }
  .secondsection_text1{
    margin : 0;
    
  }
  .experience-sub-title{
    margin: 5% 0 5% 0;
  }
  #sec4{
    margin: 0;
    align-items: center;
    justify-content: flex-start;
    height: 75vh;
  }
  .contact-info-upper-container{
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
  }

  footer{
    .footer-links-container ul li{
      margin: 0;
    }
  }
  .blob,.blob2,.blob3{
    display: none;
  }
}